/*header*/
header{
    background-color: rgb(109, 144, 234);
    
}

.title{
    display: flex;
    background-color:rgb(109, 144, 234) ;
    align-items: center;
    width:100%;
    margin:0;
}


.title p{
    margin-left: 35px;
    font-size: 25px;
}

#icon{
    border-radius: 10%;
    width: 60px;
    height: auto;
    margin:4px;
}

#menu{
    background-color: rgb(169, 210, 246);
    text-decoration: none;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#menu::before{
    content: "≡";
    display:block;
    background-color: rgb(169, 210, 246);
    color:white;
    
    
}

nav{
    background-color: rgb(169, 210, 246);
    color:white;
    font-size: 16px;
    align-items: center;
    justify-items: center;
    
}

nav a{
    display:none;
}

nav a:link,nav a:visited,nav a:active{
    color: rgb(14, 0, 0);
    text-decoration: none;
}

nav a:hover{
    color:white;
}

nav.show-nav a{
    display: block;
}

#menu.show::before{
    content:"﹀";
}


#welcome{
    font-size: 20px;
}




/*hero*/
@keyframes fadeIn{
    from{
        opacity:0;
        transform: scale(1);
        filter: blur(3px);
    }
    to{
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}

.hero{
    position: relative;
}
picture img{
    width:100%;
    opacity: 0;
    animation: fadeIn 1.2s ease-out forwards;
    display:block;
    position:relative;

}

#hero_msg{
    position:absolute;
    background-color: rgba(229, 240, 67, 0.7);
    border: 2px solid orange;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    width: 70%;
    top:65%;
    left:50%;
    transform: translate(-50%, -50%);
    justify-items: center;
    text-align: center;
    padding:16px;
}

#max_temp{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8px;
    background-color: rgba(252, 132, 27, 0.9);
    border: 2px solid rgb(255, 247, 0);
    border-radius: 5px;
    justify-items: center;
    color: #340711;
}

#closeBun{
    font-size: 5px;
}



h1{
    font-size: 6px;
    color: rgb(19, 27, 248);
}


main{
    background-color: white;
}

#introduction{
    margin-top: 16px;
    border: 2px solid;
    border-radius: 16px;
    background-color: rgb(119, 224, 224);
    padding: 10px;
}

.w_box{
    background-color: #dadce1;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

#wtitle{
    border: 5px solid black;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
}

#tomorrow{
    border: 5px solid black;
    margin:0;
    padding: 10px;
}




/*footer*/
footer{
    background-color: rgb(109, 144, 234);
    padding: 2rem;
}

.media{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    
}

.media img{
    width:32px;
}





/*Contact*/

.information{
    display: block;
    background-color: aquamarine;
}

.information a{
    display: block;
    margin: 10px;
}

.msg_box{
    display: block;
}
label{
    display: block;
    margin: 16px;
}


/*reservation*/
.resv_form{
    display: block;
}

.resv_form input,
.resv_form select,
.resv_form textarea
{
    width:100%;
}

#accom{
    height: 50px;
}

/*rental*/
caption{
    background-color: rgb(207, 120, 245);
    color: #072156;
    border: 4px solid;
    font-weight: bold;
}

table, th, th, td{
    border:1px solid black;
    border-collapse: collapse;
}

#rTable{
    margin: 0.5rem;
    background-color: rgb(171, 241, 241);
}

