@media screen and (min-width: 32rem){
    header{
        display:flex;
        align-items: center;
    }
    .title{
        width:30%;
    }
    
    #icon{
        width: 80px;
    }
    #welcome{
        display: none;
    }

    nav{
        background-color: rgb(109, 144, 234);
        display: flex;
        gap:60px;
        font-size: 20px;
        margin-left: 0;
    }

    nav a{
        display: block;
    }

    #menu{
        display: none;
    }



    /*main*/
    #hero_msg{
        background-color: rgb(52, 54, 43);
        color: aliceblue;
        top:70%;
    }

    


    /*footer*/
    footer{
        font-size: 32px;
    }
}