@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header{
    position:relative;
}

#city{
    width:100%;
    
}

.hero_message{
    position:absolute;
    font-size: 0.5rem;
    width:50%;
    top:0;
    right:-2;
    margin:1rem;
    margin-top: 8%;
    padding-left: 10px;
    background-color: rgb(111, 253, 253);
    opacity:0.8;
}

.herro_message h1{
    font-size:0.7rem ;

}

.herro_message h2{
    font-size:0.5rem;
}

.lemma h1{
    font-size: 1rem;
}

.lemma{
    font-size: 1rem;
    text-align: center;
    width: 100%;
    height: 100px;
}


#map{
    width:80%;
    height:250px
}