@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header{
    position:relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 20px
}
nav li{
    justify-content: space-between;
}


#rmenu{
    display: flex;
    font-size: 3rem;
    font-weight:bold;
    background-color: #9696e4b5;
    cursor:pointer;
    border:none;
    align-items:center;
    overflow: hidden;
    text-decoration: none;
    
  }
  #rmenu::before{
    content: "≡";
    display:inline-block;
    display:block;
  }
  .navigation{
    list-style:none;
  }
  .navigation li{
    display:none;
    list-style: none;
  }
  .navigation a{
    display:block
  }
  .navigation a:hover, .navigation a:active{
    color:aqua;
  }
  .show li{
    display: block;
  }
  #rmenu.show::before{
    content:"X"
  }



  .dark{
    position:relative;
    display: inline-block;
    width: 50px;
    height: 30px;
  }
  .dark input {
    opacity: 1;
    width: 0;
    height:0;
  }
  .switch{
    position:absolute;
    cursor: pointer;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition:.3s;
  }
  .switch:before{
    position:absolute;
    content:"";
    height: 20px;
    width:20px;
    left: 1px;
    bottom: 4px;
    background-color:white;
    -webkit-transition: .3s;
    transition:.3s;
  }

  input:checked + .switch{
    background-color:black

  }
  input.focus + .switch{
    box-shadow: 0 0 1px black;
  }
  input:checked + .switch:before{
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
  }

  .switch.round{
    border-radius: 32px;
  }
  .switch.round:before{
    border-radius:40%;
  }

  



#city{
    width:100%;
    height:auto;
    min-height: 100px;
    
    
}

.hero{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_image{
    position:relative;
    
}

.hero_message{
    position:absolute;
    width:50%;
    height:auto;
    max-height:10%;
    top:10%;
    left:2%;
    margin:1rem;
    margin-top: 8%;
    padding: 20px;
    background-color: rgb(111, 253, 253);
    opacity:0.8;
}

.hero_message h1{
    font-size: 3vw;
    margin-top: -9px
    
}
.hero_message h2{
    font-size: 2vw;
    margin-top: -2px
}



.purpose h1{
    font-size: 1rem;
    text-align: center;
}

.purpose{
    font-size: 1rem;
    width: 100%;
    height: auto;
    min-height:150px;
    border:solid;
    background-color: rgb(245, 237, 218);
    
}

.purpose p{
    font-family: Roboto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.8rem;
}

.cta{
    border:solid 5px;
    border-color: rgb(7, 17, 14);
    background-color: rgb(39, 230, 169);
    opacity: 0.8;
    max-width: 20rem;
    text-align: center;
    padding:1rem;
    margin:3rem
}

#tname{
    margin-bottom: 1rem;
}

#tcompany{
    margin-bottom: 1rem;
}

.event{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.w_box, .event1, .event2, .event3{
    border:3px solid;
    border-radius: 10px;
    background-color: rgb(182, 205, 224);
    border-color: black;
    margin: 2px;
    margin-top: 15px;
    padding:15px;
}

#today{
    font-size: 12px;
}
#fjoin{
    margin: 10px;
}


#dmap{

    justify-content: center;
    text-align: center;
    align-items: center;
    height: 5rem;
    width:auto;
}
#map{
    width:50%;
    height:30rem;
}

footer{
    text-align: center;
    background-color: #8ebeb4;
    max-width: 100%;
    display: block;
    padding: 1rem;
    margin-top: 10px;
    height:10rem;
}
footer p{
    margin:0 auto;
}

#year{
    text-align: center;
    font-size: 25px;
    color:black;
    margin-bottom: 3rem;
}

.end{
    background-color: #8ebeb4;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:1rem;

}