@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Heebo:wght@500&family=Honk&family=Lora:wght@500;600&family=Roboto+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');

header{
    background-color: rgb(157, 226, 157);
    margin:0 auto;
    padding:2rem;
}

h1{
    color:rgb(30, 31, 28);
    text-align:center;
    
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgba(150, 150, 228, 0.708);
    font-size: 24px;
    color:aliceblue;
    text-align: center;
    padding:2rem;
}

main h1{
    font-size: 23px;
    text-align: left;
}

.box{
    margin: 2rem;
    border:double 10px blue;
    border-color: blue;
    text-align: left;
    padding:0.5rem;
}

.colors{
    text-align: center;
    font-size: 3rem;
    width: 100%;
    margin-bottom: 3rem;

}

.color td{
    height: 3rem;
}

.color h1{
    text-align: center;
    font-size: 26px;
    grid-column: 1/3;
    grid-row: 1;
    
}

.maincol{
    background-color: rgb(113, 148, 220);
}

.subcol{
    background-color: rgb(117, 216, 216);
}

.add1{
    background-color: gainsboro;
}

.add2{
    background-color: rgb(144, 216, 172);
}

.color th{
    background-color: antiquewhite;
    font-size: 1.5rem;
}

#typog{
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
}

.typo{
    text-align: center;
    font-size: 1.5rem;
    width: 100%;

}

.headerp {
    font-family: 'Bebas Neue', sans-serif;
}

.bodyp{
    font-family: 'Lora', serif;
}

.footerp{
    font-family: 'Merriweather', serif;
}

.addr{
    font-family: 'Rubik Glitch Pop', system-ui;
}

h4{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10rem;
}

.pics{
    display:flex;
    margin-top:1rem;
    position:relative;
}

.big{
    max-width: 50%;
    width:400px;
    height:300px;
    margin:1rem;
    
}

.small{
    max-width: 50%;
    width:200px;
    height:300px;
    margin:1rem;
  
}





#year{
    text-align: center;
    font-size: 25px;
    color:black
}

#lastModified{
    text-align:center;
    color:black
}

.end{
    background-color: rgb(212, 95, 95);
    width:100%;
    height: 150px;

}