
body{
    background-color: rgb(244, 236, 225);
}

header{
    display:grid;
    grid-template-columns: 1fr 4fr;
    background-color: #8ebeb4;
    position:relative;
}

#optimized{
    width: 80px;
    height: auto;
}
.yellow{
    font-size: 10vw;
    display:flex;
    position:relative;
    align-items: center;
    max-width: 100%;
}


nav{
    display: grid;
    background-color: #9696e4b5;
    display:none;
}

.show li{
    display:block;
}

nav.show-nav{
    display:block;

}


#menu{
    display:none;
    cursor: pointer;
    display:block;
    font-size: 2rem;
    padding:0.8rem;
    
}

#menu::before{
    content: "≡"
}

#menu.show::before{
    content: "X"
}



.navigation{
    list-style: none;
    color:5c5f68;
    font-size: 24px;
    text-align: center;
    padding: 1rem;
    display:grid;
    margin:0;
    display:flex;
}
.navigation a{
    display:block;
}
.navigation a:hover{
    color : white;
}


.c{
    display: none;
}

.home_image{
    background-position: center ;
    background-size: cover;
    position:relative;

    
}

#snow{
    width:100%;
}

.profile{
    position:absolute;
    width:50%;
    
}

.home_text{
    background-color: rgb(17, 39, 39/65%);
    text-align: right;
    margin:0 auto;
    position: absolute;
    top: 50%;
    opacity: 0.8;
}




.box{
    width:100%;
    height: 250px;
    border-radius: 15px;
    background-color: white;
    margin-bottom:1px;
    position:relative;
   
    
    
}



.title{
    background-color: blue;
}






footer{
    background-color: #8ebeb4;
    max-width: 100%;
    display: block;
    padding: 1rem;
    margin-top: 10px;
}

#name{
    color:#5c5f68;
    left:10px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}


#year{
    text-align: center;
    font-size: 25px;
    color:black
}

#lastModified{
    text-align:center;
    color:black
}

footer p{
    text-align: center;
    font-size: 20px;
}



.end{
    background-color: #8ebeb4;
    width:100%;
    height: 150px;

}

