@media only screen and (min-width: 32em){
    h1{
        color:rgba(80, 185, 185, 0.646);
        text-decoration:underline;
        
    }

    .container {
        grid-template-columns: 1fr, 1fr;
    }

    header{
        display:grid;
        grid-template-columns: 1fr 3fr;
        background-color: #8ebeb4;
        
        color:aliceblue;
        position:relative;
        text-align: left;
    }

    nav{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: rgba(150, 150, 228, 0.708);
        
    }

    .navigation{
        color:aliceblue;
        font-size: 24px;
        text-align: center;
    }

    .yellow{
        color:yellowgreen;
        font-size: 40px;
        position:relative;
        text-align: left;
        padding-left: 30px;
        font-size: 50px;
    }

    .optimized{
        margin: 500;
    }

    .main-box{
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }
    
    
   
    
}