@media only screen and (min-width: 32rem){
    h1{
        color:rgba(38, 88, 88, 0.646);
        text-decoration:underline;
        
    }


    header{
        display:grid;
        grid-template-columns: 1fr 4fr;
        background-color: #8ebeb4;
        
        color:#444648;
        position:relative;
        text-align: left;
    }
    #rmenu{display:none;
    }

    nav{
        display:flex;
        justify-content: space-around;
        justify-content: center;
        padding: 20px 0;
        
    }

    .navigation{
        display: flex;
        width: 100%;
        background-color:#9696e4b5;
        margin: 0;
        justify-content: space-around;
      }
    .navigation li{
        flex-grow: 1;
        display:block;
    }
    .navigation a{
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #272727;
    }

    .yellow{
        color:yellowgreen;
        font-size: 40px;
        position:relative;
        text-align: left;
        padding-left: 30px;
        font-size: 50px;
    }

    #optimized{
        width: 150px;
    }

    .main-box{
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }

    #name{
    }

    #map{
        height: 250px;
    }
    
    
   
    
}